body{
	font-family: 'Chivo', 'Sans Serif';
	margin: 0px;
	background-color: rgb(153, 115, 158);

}

.banner-wrap{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://lh3.googleusercontent.com/qs4YCFabp6dKYVb69AMV9uJFlrgwQmP07RN8zfzF9u7u5YtkhBg1mwQjWX94p85Lu6cJVZHY6FuDfBX1xumU0oxo1fj_PYPDl4HWMu8UjaF3h7QxKCcsXkkbY7wfuaHmFS8sh0YJ2jE=w2400);
	background-size: cover;
	background-position: center;
	padding: 150px 0; 
	text-align: center;
}

.banner-wrap h1{
	color: hsl(135, 0%, 100%);
	font-size: 45px;
	margin: 0px;
	font-weight: bold;
}

.banner-wrap p{
	color: hsla(135, 0%, 100%, 0.7);
}

.banner-wrap a{
	background-color: black;
	color: white;
	padding: 16px 48px;
	border-radius: 75px;
	display: inline-block;
	text-decoration: none;
	transition: transform 0.5s ease;
	font-size: 20px;
	font-weight: bold;
	border: none;

}

.banner-wrap a:hover{
	background-color: white;
	color: blue;
	transform: scale(1.1);
 }

.banner-wrap a:active{
	background-image: linear-gradient(rgb(81, 91, 212), rgb(129, 52, 175), rgb(221, 42, 123), rgb(254, 218, 119), rgb(245, 133, 41));

}

.cards-wrap{
	width: 1080px;
	margin: 60px auto;
}

.cards-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 60px;

}

.cards{
	background-color: black;
	box-shadow: 0 0 16px rgb(255, 255, 255); 
	border-radius: 4px;
	padding: 20px;
	margin: 0px 20px; 


}

.cards img{
	width: 100%;
	height: 100%;
}

h3{
	color: white;
}

footer{
	background-color: black;
	padding: 30px 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

footer p{
	color: white;
	margin: 0;
	font-weight: bold;

}
